<div class="list-item card hoverable" data-card-id={{list.id}}>
  <div class="card-image truncate">
    {{lazy-image url='http://lorempixel.com/400/200/' errorText='Something went wrong.'}}
    <span class="card-title">{{list.name}}</span>
  </div>
  <div class="card-action">
  {{#link-to "list" list class="waves-effect waves-light"}}
    View
  {{/link-to}}
  </div>
</div>
{{yield}}
