{{#link-to "list" list class="mobile list-item collection-item avatar waves-effect waves-light" data-card-id=list.id }}
  <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="" data-image-id={{list.id}} class="circle">
  <span class="title">{{list.name}}</span>
{{/link-to}}
{{yield}}
