<header>
  <ul class="side-nav fixed demo-page-submenu" id="mobile">
    <img src="http://voidcanvas.com/wp-content/uploads/2013/11/emberjs-logo-image.png" alt="" id="logo" class="responsive-img">
    {{#link-to 'admin' activeClass='active' tagName='li'}}
        <a href="" class="waves-effect waves-light">Admin</a>
    {{/link-to}}
    {{#link-to 'lists.index' activeClass='active' tagName='li'}}
      <a href="" class="waves-effect waves-light">List</a>
    {{/link-to}}
    {{#link-to 'lists.new' activeClass='active' tagName='li'}}
      <a href="" class="waves-effect waves-light">New List</a>
    {{/link-to}}
  </ul>

  <div class="navbar-fixed z-depth-1">
    <nav class="demo-page-nav deep-orange">
      <div class="nav-wrapper">
        <div class="container-fluid">
          {{#link-to "lists" class="brand-logo white-text"}}
            Grocery Tracker
          {{/link-to}}
          <a href="#" data-activates="mobile" class="button-collapse deep-orange-text text-darken-2">
            <i class="white-text  mdi-navigation-menu"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
