<header>
  <div class="navbar-fixed z-depth-1">
    <nav class="demo-page-nav deep-orange">
      <div class="nav-wrapper">
        <div class="container-fluid">
          <a href="#!" class="brand-logo white-text">
            Grocery Tracker
          </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse deep-orange-text text-darken-2">
            <i class="white-text  mdi-navigation-menu"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
<ul class="side-nav fixed demo-page-submenu" id="mobile-demo">
  {{#link-to 'admin' activeClass='active' tagName='li'}}
    {{#link-to 'admin'}}
      Admin
    {{/link-to}}
  {{/link-to}}
  {{#link-to 'lists.index' activeClass='active' tagName='li'}}
    {{#link-to 'lists.index'}}
      List
    {{/link-to}}
  {{/link-to}}
  {{#link-to 'lists.new' activeClass='active' tagName='li'}}
    {{#link-to 'lists.new'}}
      New List
    {{/link-to}}
  {{/link-to}}
</ul>
