@import 'materialize';
@import 'ember-cli-materialize';

html {
  background: rgb(252,252,252);
}

.collapsible-body {
  background-color: white;
}

a {
  color: $button-color;
}


// /* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
// @each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
//   .#{$mdi-prefix}#{$mdi-icon-name}:before {
//     content: "\""+ $mdi-icon-value +"\"";
//   }
// }


nav .brand-logo {
  white-space: nowrap;
  padding-left: 20px;
}
header .button-collapse {
  margin-left: 20px;
}
.code-comment {
  color: #aaa;
}

.ember-logo {
  height: 48px;
  padding-top: 15px;
}

.top-nav-container {
  float: right;
  max-width: calc(100% - 260px);
  overflow-y: scroll;
  box-shadow: inset -10px 0 20px rgba(255,255,255,0.7), inset 10px 0 20px rgba(255,255,255,0.7);
  ul {
    white-space: nowrap;
    li {
      float: none;
      display: inline-block;
    }
  }
}


header, main, footer.demo-footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  main, footer.demo-footer, header {
    padding-left: 0;
  }
}

.demo-page-submenu {
  li:hover,
  li.active {
    background-color: color('deep-orange', 'lighten-2');
    a {
      color: white;
    }
  }
}

.navbar-fixed {
  z-index: 800;
}
.option-description {
  font-size: 0.8rem;
  margin-left: 40px;
}

.color-swatch-collection {

  .color-swatch {
    &[class*="darken"] {
      color: white;
    }
    height: 40px;
    line-height: 40px;
  }
}

.text-center {
  text-align: center;
}

.font-size-18 {
  font-size: 18px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.side-nav #logo:hover {
  -webkit-animation: swing 2s ease-in-out;
  animation: swing 2s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
