<div class="container">
  {{#md-card title="Create Dummy Data"}}
    <form {{action "createDummyDatas" on="submit"}}>
    {{#md-card-content}}
      {{md-input type="number" value=numOfList min=0 max=3 step=1 label='List Amount' class="col s12"}}
      {{md-input type="number" value=numOfTransaction min=0 max=5 step=1 label='Transactions amount per list' class="col s12"}}
      {{md-input type="number" value=numOfItem min=0 step=1 max=10 label='Items amount per transaction' class="col s12"}}
      <button type="submit" class="btn waves-effect waves-light">Create Data</button>
    {{/md-card-content}}
    </form>
  {{/md-card}}
</div>
