{{nav-bar}}
<main>
  {{liquid-outlet}}
</main>

{{md-modal-container}}

<footer class="page-footer demo-footer deep-orange darken-2">
  {{#md-copyright text='Copyright Text' startYear=2014}}<a class="grey-text text-lighten-4 right" href="#!">More Links</a>{{/md-copyright}}
</footer>
